.landing_main{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    width: 100vw;
}

.landing_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    height: 100%;
    width: 100%;
}

.landing_main_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    width: 100vw;
    height: 200px;
    background: url('../../../assets//images/baked-2313462_640.jpg') center;
    background-size: cover;
    border-radius: 3px;
}

.landing_login_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size:15px;
    margin-top: 50px;
    height: 20px;
    width: 100px;
    border-radius: 15px;
    background: linear-gradient(#56ab2f, #a8e063);
}

.landing_login_button:hover{
    background: green;
}

.landing_signup_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size:15px;
    margin-top: 15px;
    height: 20px;
    width: 120px;
    border-radius: 15px;
    background: linear-gradient(#56ab2f, #a8e063);
}

.landing_signup_button:hover{
    background: green;
}

.landing_hexmap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.landing_hexmap_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing_hexmap_container{
    /* background-color: green; */
    background-image: url('https://www.supplychain247.com/images/article/Council_on_Foreign_Relations_food_waste_map.jpg');
    background-size: cover;
    width: 90%;
    height: 220px;
}

.landing_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.landing_about_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing_about_container{
    background-color: green;
    width: 90%;
    height: 150px;
}

.landing_stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.landing_stats_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing_stats_container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 150px;
}

.landing_graph1{
    background-color: green;
    width: 150px;
    height: 150px;
}

.landing_graph2{
    background-color: green;
    width: 150px;
    height: 150px;
}

.landing_getstarted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    margin-bottom: 20px;
}

.landing_getstarted_title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing_getstarted_container{
    display: flex;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1508787798358-dd83f04a4526?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a858962fbe2acbaade889c65b8abaac1&auto=format&fit=crop&w=1191&q=80');
    background-size: cover;
    width: 90%;
    height: 150px;
    border-radius: 5px;
}

.landing_getstarted_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size:15px;
    margin-top: 45px;
    height: 40px;
    width: 180px;
    border-radius: 15px;
    background: linear-gradient(#56ab2f, #a8e063);
}

.landing_getstarted_button:hover{
    background: green;
}

.FAQ_contents{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 80vw;
}

hr{
    margin-top: 18px;
    border: 0;
    width: 80vw;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.vertical_line{
    border: 0;
    width: 120px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    transform:rotate(90deg);
    margin-top: 70px;
    margin-left:0px;
    margin-right:0px;
    
}