/* FOR MOBILE DEVICES */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .footer_main {
        background: #05668D;
        color: #EBF2FA;
    }
    .contact h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .email-form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .email-form input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .email-form textarea {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .submit-input {
        color: #679436;
        background: #EBF2FA;
        border-radius: 15px;
        width: 113px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }
    .additional-info {
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* FOR NON-RETINA / NON-HIGH RES DESKTOPS */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .footer_main {
        background: #05668D;
        color: #EBF2FA;
    }
    .contact h2 {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .email-form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .email-form input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .email-form textarea {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .submit-input {
        color: #679436;
        background: #EBF2FA;
        border-radius: 15px;
        width: 113px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }

    .submit-input:hover {
        background: #A5BE00;
        color: #ebf2fA;
        cursor: pointer;
    }

    .additional-info {
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}