/* FOR MOBILE DEVICES */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

  .google-maps {
    display: none;
  }

  .np-wishlist-basket-container{
      margin-top: 70px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
  }

  .np-wishlist-basket-container h3{
    font-size: 1.375em;
    line-height: 	1.13636364em;
    text-align: center;
    padding: 5px;
    border: 1px solid;
    background: #427AA1;
    color: #EBF2FA; 
  }

  .np-sched-basket-container{
    margin-top: 5px;
    width: 95%;
      margin-left: auto;
      margin-right: auto;
  }

  .np-sched-basket-container h3{
    font-size: 1.375em;
    line-height: 	1.13636364em;
    text-align: center;
    padding: 5px;
    background: #427AA1;
    color: #EBF2FA; 
    
  }

  .np-avail-basket-container{
    margin-top: 5px;
    width: 95%;
      margin-left: auto;
      margin-right: auto;
  }

  .np-avail-basket-container h3{
    font-size: 1.375em;
    line-height: 	1.13636364em;
    text-align: center;
    padding: 5px;
    background: #427AA1;
    color: #EBF2FA; 
    
  }
}

/* TABLET VIEW */
@media only screen and (min-device-width: 668px) and (max-device-width: 1199px){
  
}

/* DESKTOP VIEW */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .np-view-main{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
  }

  /* Column 1 (Map) */
  .np-view-col-1{
    width: 50%;
    padding: 10px 30px;
  }

  .np-wishlist-basket-container{
    margin-top: 40px;
  }

  .np-wishlist-basket-container h3{
    font-size: 	1.75em;
    line-height: 1.25em;
    text-align: center;
    padding: 10px;
    background: #427AA1;
    color: #EBF2FA; 
  }

  /* Column 2 Scheudled Baskets and Available Baskets*/

  .np-view-col-2{
    width: 50%;
    padding: 10px 30px;
    overflow: scroll;
    height: 100vh;
  }

  .np-sched-basket-container h3{
    font-size: 	1.75em;
    line-height: 1.25em;
    text-align: center;
    padding: 10px;
    background: #427AA1;
    color: #EBF2FA; 
  }

  .np-avail-basket-container h3{
    margin-top: 10px;
    font-size: 	1.75em;
    line-height: 1.25em;
    text-align: center;
    padding: 10px;
    background: #427AA1;
    color: #EBF2FA; 
    
  }

}
