/* FOR MOBILE DEVICES */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px){

  .BasketTable {
    max-width: 1000px;
    width: 95%;
    height: fit-content;
    background: white;
    border: 1px solid #A5BE00;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
    padding: 25px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .save-make-basket-btn{
    background: #679436;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-size: 1em;
  }

  .save-make-basket-btn:hover{
    background: #427AA1;
  } 

  .add-item-btn{
    background: #679436;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 1em;
  }
  .add-item-btn:hover{
    background: #427AA1;
    
  }

  .business-table-input-contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .business-table-input{
    outline-style: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    font-size: 1em;
    margin-top:8px;
    margin-bottom: 8px;
  }

  .business-table-input:focus{
    border-bottom: solid #679436 2px;
  }
}

/* TABLET VIEW */
@media only screen and (min-device-width: 668px) and (max-device-width: 1199px){
  .BasketTable {
    max-width: 1000px;
    width: 80%;
    height: fit-content;
    background: white;
    border: 1px solid #A5BE00;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
    padding: 25px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .save-make-basket-btn{
    background: #679436;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-size: 1em;
  }

  .save-make-basket-btn:hover{
    background: #427AA1;
  } 

  .add-item-btn{
    background: #679436;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 1em;
  }
  .add-item-btn:hover{
    background: #427AA1;
    
  }

  .business-table-input-contain{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .business-table-input{
    outline-style: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    font-size: 1em;
    margin-top:8px;
    margin-bottom: 8px;
  }
}


/* ###################################### */
/* FOR NON-RETINA / NON-HIGH RES DESKTOPS */
@media screen  and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .BasketTable {
    max-width: 1000px;
    width: 95%;
    height: fit-content;
    background: white;
    border: 1px solid #A5BE00;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
    padding: 25px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .save-make-basket-btn{
    background: #679436;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-size: 1em;
  }

  .save-make-basket-btn:hover{
    background: #427AA1;
  } 

  .add-item-btn{
    background: #679436;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 1em;
  }
  .add-item-btn:hover{
    background: #427AA1;
    
  }

  .business-table-input-contain{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .business-table-input{
    outline-style: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    font-size: 1em;
    margin-top:8px;
    margin-bottom: 8px;
  }
  }

