/* FOR MOBILE DEVICES */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .bus-top-bar {
    display: none;
  }
}

/* TABLET VIEW */
@media only screen and (min-device-width: 668px) and (max-device-width: 1199px) {
  .bus-top-bar {
    width: 100%;
    height: 40vh;
    margin-top: 100px;
    border: 1px solid #A5BE00;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .business-table-list-container {
    display: flex;
    justify-content: space-between;
  }
  .business-table-container {
    width: 50%;
  }
  .business-basket-list-container {
    border: 1px solid pink;
    width: 50%;
  }

    .donut-container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
  }

  .barchart-container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
  }
}

/* DESKTOPS */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .bus-top-bar {
    width: 100%;
    height: 35vh;
    margin-top: 70px;
    background: white;
    border: 1px solid #A5BE00;
    box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .business-table-list-container {
    display: flex;
    justify-content: space-between;
  }
  .business-table-container {
    width: 50%;
  }
  .business-basket-list-container {
    width: 50%;
  }

  .donut-container{
    width: 100%;
    height: 100%;
  }

  .barchart-container{
    width: 100%;
    height: 100%;
  }

}