/* FOR MOBILE DEVICES */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .np-basket { 
        border: 1px solid #A5BE00;
        box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
        margin-top: 6px;
        margin-bottom: 6px;
        text-align: center;
        width: 95%;
        line-height: 1.25em;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }

    .np-basket h2 {
        font-size: 1.625em;
        font-weight: bold;
        line-height: 1.15384615em;
        color: #679436;
        margin-top: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .reserve-btn {
        color: #EBF2FA;
        font-size: 16px;
        margin-top: 5px;
        width: 6em;
        background: #427AA1;
        border: 1px #427AA1 solid;
        border-radius: 3px;
        padding: 2px;
    }

    .details-collapse-btn{
        color: #EBF2FA;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 6em;
        background: #679436;
        border: 1px #427AA1 solid;
        border-radius: 3px;
        padding: 2px;
        font-size: 12px;
    }
}

/* For Desktop */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .np-basket { 
        border: 1px solid #A5BE00;
        box-shadow: 0 4px 8px 0 rgba(66, 122, 161, 0.2), 0 6px 20px 0 rgba(66, 122, 161, 0.19);
        margin-top: 6px;
        margin-bottom: 6px;
        text-align: center;
        width: 30%;
        line-height: 1.375em;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }

    .np-basket h2 {
        font-size: 2.25em;
        line-height: 1.25em;
        font-weight: bold;
        color: #679436;
        margin-top: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .reserve-btn {
        color: #EBF2FA;
        font-size: 1em;
        margin-top: 5px;
        width: 6em;
        background: #427AA1;
        border: 1px #427AA1 solid;
        border-radius: 3px;
        padding: 2px;
    }

    .details-collapse-btn{
        color: #EBF2FA;
        font-size: 1em;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 6em;
        background: #679436;
        border: 1px #427AA1 solid;
        border-radius: 3px;
        padding: 2px;
        font-size: 12px;
    }
}