@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

.pulse_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .pulse_animation{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90,153,212,.5);
    animation-name: pulse !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
    font-size: 15px;
    transition:2s;
  }
  .pulse_animation:hover {
    animation-name: none !important;
  }
  
  @keyframes pulse {
    0% {
      transform:(scale(.9,.9));
    }
    70% {
      transform:(scale(1,1));
      box-shadow: 0px 0px 0px 50px rgba(90,153,212,0);
      font-size: 18px;
    }
    100% {
      transform:(scale(.9,.9));
      box-shadow: 0px 0px 0px 0px rgba(90,153,212,0);
      font-size: 18px;
    }
  }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .pulse_container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
    }
    
    .pulse_animation{
      position: relative;
      display: block;
      width: 200px;
      height: 200px;
      text-align: center;
      line-height: 200px;
      letter-spacing: -1px;
      color: white;
      border: none;
      border-radius: 50%;
      background: #5a99d4;
      cursor: pointer;
      box-shadow: 0 0 0 0 rgba(90,153,212,.5);
      animation-name: pulse !important;
      animation-duration: 2s !important;
      animation-iteration-count: infinite !important;
      font-size: 20px;
      transition:font-size 2s;
    }
    .pulse_animation:hover {
      animation-name: none !important;
    }
    
    @keyframes pulse {
      0% {
        transform:(scale(.9,.9));
      }
      70% {
        transform:(scale(1,1));
        box-shadow: 0px 0px 0px 100px rgba(90,153,212,0);
        font-size: 25px;
      }
      100% {
        transform:(scale(.9,.9));
        box-shadow: 0px 0px 0px 0px rgba(90,153,212,0);
        font-size: 25px;
      }
    }
  }